mkdocs>=1.6.1,<2.0.0
mkdocs-material>=9.5.0
# Plugins
mkdocstrings
mkdocs-mermaid2-plugin
pymdown-extensions
mkdocs-awesome-pages-plugin
mkdocs-redirects
mkdocs-minify-plugin
mike
mkdocs-static-i18n
mkdocs-git-authors-plugin
mkdocs-include-markdown-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-table-reader-plugin
neoteroi-mkdocs